*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1;
}
section{
    width: 100%;
    height: 100vh;
}
.side-bar{
    color: red;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: grey;
}
ul{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 0 15px;
}
nav ul li a{
    font-size: 20px;
    color: red ;
    letter-spacing: 3px;
    text-decoration: none;
    background-color:thistle;
}
ul li:hover a
{
    color: blue;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding:0 10%;
    overflow: hidden;
    background-color: tomato;
    
}

.cols{
    width: 100%;
    position: relative;
    color: purple;
}

button{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}
button:hover{
    background-color: blueviolet;
}

.post{
    margin-top: 40px;
    margin-left: 320px;
    justify-content: center;
}
#imgbox{
    position: relative;
    background-color: aliceblue;
    width: 40%;
    height: 30%;
}
#imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    width: 320px;
    height: 283px;
    margin-top: 20px;
    /* /* top: 100px;
    right: 50px;
    transform: rotate(360deg);
    animation: animateUser 4s linear infinite; */
}
/* @keyframes animateUser {
    50%{
        right: 30px;
        top: -90px;
    }
     */
/* } */ 
.intro{
    background-color: gray;
}
.forms-layer{
    background-color: grey;
    padding-bottom: 40px;
}
.second-post{
    margin-top: 30px;
    margin-left: 590px;
}
.project{
    background-color: black;
}
.footer{
    background-color: purple;
    padding-top:20px;
}
.multitext{
    color:purple;
    font-size: 100%;
}